<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
		<meta name="description" content="{{ page.description }}" />
    <script src="https://kit.fontawesome.com/8220f403f0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" type="image/x-icon" href={{ "/assets/images/favicon.png" | relative_url }}>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "logo": "https://tikkuteatteri.fi/assets/images/kumikolyhty.jpg",
        "image": [
          "https://tikkuteatteri.fi/assets/images/kumikolyhty.jpg",
          "https://tikkuteatteri.fi/assets/images/kumikovalaisin.jpg"
         ],
        "name": "Tikkuteatteri",
        "location": "Jyväskylä",
        "areaServed": "Finland",
        "description": "Kumikoaiheiset käyttö- ja taide-esineet sekä työkalut ja tarvikkeet oman kumikoharrastuksen aloittamiseen.",
        "url": "https://tikkuteatteri.fi",
        "priceRange": "$$$"
      }
    </script>
    <meta name="robots" content="index, follow" />
    {% include analytics.html %}
  </head>
  <body>
    {{ content }}

    {% include footer.html %}
  </body>
</html>
